PORT="8000"
ANON_KEY="${{\"Supabase Studio\".ANON_KEY}}"
AUTH_HOST="${{\"Gotrue Auth\".RAILWAY_PRIVATE_DOMAIN}}"
META_HOST="${{\"Postgres Meta\".RAILWAY_PRIVATE_DOMAIN}}"
REST_HOST="${{Postgrest.RAILWAY_PRIVATE_DOMAIN}}"
STUDIO_HOST="${{\"Supabase Studio\".RAILWAY_PRIVATE_DOMAIN}}"
STORAGE_HOST="${{\"Supabase Storage\".RAILWAY_PRIVATE_DOMAIN}}"
REALTIME_HOST="${{\"Supabase Realtime\".RAILWAY_PRIVATE_DOMAIN}}"
ANALYTICS_HOST="not_present"
FUNCTIONS_HOST="not_present"
SERVICE_ROLE_KEY="${{\"Supabase Studio\".SERVICE_ROLE_KEY}}"
ANON_KEY_ASYMMETRIC="${{\"Supabase Studio\".ANON_KEY_ASYMMETRIC}}"
SUPABASE_SECRET_KEY="${{\"Supabase Studio\".SUPABASE_SECRET_KEY}}"
SUPABASE_PUBLISHABLE_KEY="${{\"Supabase Studio\".SUPABASE_PUBLISHABLE_KEY}}"
SERVICE_ROLE_KEY_ASYMMETRIC="${{\"Supabase Studio\".SERVICE_ROLE_KEY_ASYMMETRIC}}"
DASHBOARD_PASSWORD="${{ secret(16) }}"
DASHBOARD_USERNAME="${{ secret(8) }}"
