PORT="8000"
AUTH_HOST="${{\"Gotrue Auth\".RAILWAY_PRIVATE_DOMAIN}}"
META_HOST="${{\"Postgres Meta\".RAILWAY_PRIVATE_DOMAIN}}"
REST_HOST="${{Postgrest.RAILWAY_PRIVATE_DOMAIN}}"
STUDIO_HOST="${{\"Supabase Studio\".RAILWAY_PRIVATE_DOMAIN}}"
KONG_PLUGINS="request-transformer,cors,key-auth,acl,basic-auth,request-termination,post-function"
STORAGE_HOST="${{\"Supabase Storage\".RAILWAY_PRIVATE_DOMAIN}}"
KONG_DATABASE="off"
REALTIME_HOST="${{\"Supabase Realtime\".RAILWAY_PRIVATE_DOMAIN}}"
ANALYTICS_HOST="not_present"
FUNCTIONS_HOST="127.0.0.1"
KONG_DNS_ORDER="LAST,A,CNAME"
KONG_PROXY_LISTEN="[::]:8000 reuseport backlog=16384, 0.0.0.0:8000 reuseport backlog=16384"
SUPABASE_ANON_KEY="${{\"Supabase Studio\".ANON_KEY}}"
DASHBOARD_PASSWORD="${{ secret(16) }}"
DASHBOARD_USERNAME="${{ secret(8) }}"
KONG_DNS_VALID_TTL="5"
KONG_ROUTER_FLAVOR="expressions"
ANON_KEY_ASYMMETRIC="${{\"Supabase Studio\".ANON_KEY_ASYMMETRIC}}"
SUPABASE_SECRET_KEY="${{\"Supabase Studio\".SUPABASE_SECRET_KEY}}"
SUPABASE_SERVICE_KEY="${{\"Supabase Studio\".SERVICE_ROLE_KEY}}"
KONG_PROXY_ACCESS_LOG="/dev/stdout combined"
KONG_DNS_NOT_FOUND_TTL="1"
KONG_DECLARATIVE_CONFIG="/tmp/kong.yml"
SUPABASE_PUBLISHABLE_KEY="${{\"Supabase Studio\".SUPABASE_PUBLISHABLE_KEY}}"
KONG_NGINX_WORKER_PROCESSES="2"
SERVICE_ROLE_KEY_ASYMMETRIC="${{\"Supabase Studio\".SERVICE_ROLE_KEY_ASYMMETRIC}}"
KONG_NGINX_PROXY_PROXY_BUFFERS="64 160k"
KONG_NGINX_PROXY_PROXY_BUFFER_SIZE="160k"
